<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>receitas</title>
</head>
<body>
    <h1>alura receitas</h1>
    <hr>
    <p>este eh um testo aqui testeoasfjlj lskajf</p>

    <table>
        <thead>
            <tr>
                <td>nome da receita</td>
                <td>ingredientes</td>
                <td> modo de preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>sudo verde</td>
                <td>folhas verdes, 1 maça, 1 cenoura</td>
                <td>bata tudo no liquidificador</td>
            </tr>
        </tbody>

    </table>
</body>
</html>