
<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>pagina principal</h1>
    <hr>
    <p>alguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisaalguma coisa</p>
    <hr>

    <form action="" method="POST" >{% csrf_token %}
        {{form.as_p}}
        <button type="submit">cadastrar</button>
    </form>
</body>
</html>