* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* -webkit-appearance: none; */
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    font-family: sans-serif;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 20px;
  }
  
  fieldset div {
    display: flex;
    flex-direction: column;
  }
  
  fieldset legend {
    text-align: center;
    text-transform: uppercase;
    color: #841d1d;
    background-color: aliceblue;
  }
  
  .select,
  .refri label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }
  
  .refri {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .select select {
    width: 120px;
    height: 30px;
    font-size: 10px;
  }
  
  .refri input {
    width: 50px;
    height: 30px;
    font-size: 10px;
  }
  
  #recheio {
    display: flex;
    gap: 5px;
  }
  
  #recheio label {
    display: flex;
    gap: 10px;
    font-size: 12px;
  }
  
  .select,
  #recheio p,
  .refri p {
    color: red;
    font-size: 13px;
  }
  
  #recheio label {
    cursor: pointer;
  }
  
  .refri input:focus-within,
  .select select:focus-within,
  #recheio label:focus-within {
    color: blue;
    cursor: pointer;
  }
  
  .pedidototal {
    align-self: center;
    font-size: 14px;
  }
  
  .pedidototal output {
    text-align: center;
    font-size: 25px;
    color: red;
    font-weight: bold;
  }
  
  button {
    height: 25px;
    font-size: 10px;
    cursor: pointer;
  }
  