{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>so um teste</h1>
    {% if request.user.is_anonymous %}
        <h2><a href=""> faca login </a></h2>
    {% else %}
        <h2> bem vindo {{ request.user.username }}</h2>
    {% endif %}
    <hr>
    
    <h1>{{ meu_titulo }}</h1>
    <ul>
        {% for item in produtos %}
            {% if item.imagem %}
                <img src='/media/{{ item.imagem }} '\>
            {% endif %}

            <li> {{ item.id }} - {{ item.nome }} - {{ item.preco }}</li>
        {% endfor %}
    </ul>

</body>
</html>