<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>
<body>
    <h1>login</h1>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque eum iusto porro vel esse aliquid consequatur repellat libero soluta officiis quidem ducimus ut, mollitia accusamus, odio adipisci quia dolorem ipsum?</p>
</body>
</html>